In [5]:
import numpy as np
import pandas as pd
import pickle
import datetime
from sklearn.cluster import DBSCAN
from mta_data_extract import turnstile_data_extractor

In [7]:
start_date = "221231"
weeks = 2
replace_anomalies = True

In [8]:
de = turnstile_data_extractor_test()

In [9]:
df = de.get_data(start_date=start_date,
                 weeks=weeks,
                 replace_anomalies=True)
df.shape

/var/folders/td/4jttxk_j59ngw4ck3xdp25th0000gn/T/ipykernel_13954/4089781660.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_)
/var/folders/td/4jttxk_j59ngw4ck3xdp25th0000gn/T/ipykernel_13954/4089781660.py:44: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_)
/var/folders/td/4jttxk_j59ngw4ck3xdp25th0000gn/T/ipykernel_13954/4089781660.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ent'].loc[df['ent']< 0] = np.nan
/var/folders/td/4jttxk_j59ngw4ck3xdp25th0000gn/T/ipykernel_13954/4089781660.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ex'].loc[df['ex']< 0] = np.nan
/var/folders/td/4jttxk_j59ngw4ck3xdp25th0000gn/T/ipykernel_13954/4089781660.py:112: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  .apply(self._anomaly_replacement)

(336, 738)

In [10]:
df.max().sort_values(ascending=False)

GRD CNTRL-42 ST_ex    20579.000000
HARRISON_ex           19807.636136
34 ST-PENN STA_ex     16503.000000
FULTON ST_ex          14218.000000
CANAL ST_ex           13753.000000
                          ...
14TH STREET_ex            5.333333
NEWARK BM BW_ex           2.754016
BROAD CHANNEL_ex          2.250000
TOMPKINSVILLE_ex          0.250000
ST. GEORGE_ex             0.250000
Length: 738, dtype: float64

In [11]:
df.max().sort_values(ascending=False).tail(10)

BEACH 105 ST_ent      13.500000
AQUEDUCT RACETR_ex    10.250000
NEWARK C_ex            8.680733
RIT-ROOSEVELT_ex       7.500000
RIT-MANHATTAN_ex       6.750000
14TH STREET_ex         5.333333
NEWARK BM BW_ex        2.754016
BROAD CHANNEL_ex       2.250000
TOMPKINSVILLE_ex       0.250000
ST. GEORGE_ex          0.250000
dtype: float64

In [23]:
to_drop = [#'PATH NEW WTC_ex','PATH NEW WTC_ent','JOURNAL SQUARE_ent','JOURNAL SQUARE_ex',
           #'NEWARK HW BMEBE_ent','NEWARK HW BMEBE_ex','PATH WTC 2_ent','PATH WTC 2_ex','PAVONIA/NEWPORT_ent',
           #'PAVONIA/NEWPORT_ex', 
           #'14TH STREET_ent','14TH STREET_ex',
           #'THIRTY THIRD ST_ent','THIRTY THIRD ST_ex','GROVE STREET_ent','GROVE STREET_ex','33 ST-RAWSON ST_ent',
           #'33 ST-RAWSON ST_ex','JFK JAMAICA CT1_ent','JFK JAMAICA CT1_ex','LACKAWANNA_ent','LACKAWANNA_ex',
           #'CITY / BUS_ent', 'CITY / BUS_ex','EXCHANGE PLACE_ent','EXCHANGE PLACE_ex','96 ST_ent', '96 ST_ex',
           #'CHRISTOPHER ST_ent','CHRISTOPHER ST_ex','ATL AV-BARCLAY_ent','ATL AV-BARCLAY_ex','96 ST_ent', '96 ST_ex',
           #'NEWARK BM BW_ent','NEWARK BM BW_ex', 'NEWARK C_ent', 'NEWARK C_ex','NEWARK HM HE_ent','NEWARK HM HE_ex',
           #'HARRISON_ent','HARRISON_ex','TIMES SQ-42 ST_ent','TIMES SQ-42 ST_ex',
           '77 ST_ent','77 ST_ex'
          ]

In [16]:
df = df.drop(to_drop, axis=1)

In [18]:
df.max().sort_values(ascending=False).tail(30)

AQUEDUCT RACETR_ent    61.000000
BAYCHESTER AV_ex       60.000000
BEACH 90 ST_ex         59.750000
9TH STREET_ent         57.476190
215 ST_ex              57.250000
AQUEDUCT N.COND_ent    53.750000
BEACH 36 ST_ent        53.500000
AVENUE I_ex            51.750000
ROCKAWAY PARK B_ex     50.500000
NEPTUNE AV_ex          48.750000
ATLANTIC AV_ex         47.250000
BEACH 90 ST_ent        43.750000
BEACH 44 ST_ent        43.250000
75 AV_ex               43.000000
BEACH 98 ST_ex         36.500000
9TH STREET_ex          34.761905
190 ST_ex              34.750000
238 ST_ex              34.250000
ROCKAWAY PARK B_ent    30.750000
TOMPKINSVILLE_ent      29.750000
BEACH 98 ST_ent        25.500000
BEACH 105 ST_ex        22.000000
BROAD CHANNEL_ent      15.750000
BEACH 105 ST_ent       13.500000
AQUEDUCT RACETR_ex     10.250000
RIT-ROOSEVELT_ex        7.500000
RIT-MANHATTAN_ex        6.750000
BROAD CHANNEL_ex        2.250000
ST. GEORGE_ex           0.250000
TOMPKINSVILLE_ex        0.250000
dtype: float64

In [24]:
df.shape

(336, 706)

In [27]:
df

,1 AV_ent,1 AV_ex,103 ST-CORONA_ent,103 ST-CORONA_ex,103 ST_ent,103 ST_ex,104 ST_ent,104 ST_ex,110 ST_ent,110 ST_ex,...,WOODLAWN_ent,WOODLAWN_ex,WORLD TRADE CTR_ent,WORLD TRADE CTR_ex,WTC-CORTLANDT_ent,WTC-CORTLANDT_ex,YORK ST_ent,YORK ST_ex,ZEREGA AV_ent,ZEREGA AV_ex
TIME,,,,,,,,,,,,,,,,,,,,,
2022-12-10 00:00:00,27.75,154.75,284.50,135.25,34.75,225.00,44.50,11.50,41.25,82.25,...,45.0,15.5,20.25,45.75,15.00,75.25,16.75,56.5,1.25,27.75
2022-12-10 01:00:00,27.75,154.75,284.50,135.25,34.75,225.00,44.50,11.50,41.25,82.25,...,45.0,15.5,20.25,45.75,15.00,75.25,16.75,56.5,1.25,27.75
2022-12-10 02:00:00,27.75,154.75,284.50,135.25,34.75,225.00,44.50,11.50,41.25,82.25,...,45.0,15.5,20.25,45.75,15.00,75.25,16.75,56.5,1.25,27.75
2022-12-10 03:00:00,27.75,154.75,284.50,135.25,34.75,225.00,44.50,11.50,41.25,82.25,...,45.0,15.5,20.25,45.75,15.00,75.25,16.75,56.5,1.25,27.75
2022-12-10 04:00:00,27.75,154.75,284.50,135.25,34.75,225.00,44.50,11.50,41.25,82.25,...,45.0,15.5,20.25,45.75,15.00,75.25,16.75,56.5,1.25,27.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23 19:00:00,520.50,974.75,559.25,1689.75,603.75,952.75,74.50,151.50,267.50,518.25,...,120.0,85.0,467.00,501.50,357.75,360.25,221.25,184.5,37.25,122.50
2022-12-23 20:00:00,205.75,498.25,164.75,887.00,603.75,952.75,20.75,78.25,83.00,246.00,...,50.5,49.5,110.00,232.50,357.75,360.25,221.25,184.5,37.25,122.50
2022-12-23 21:00:00,205.75,498.25,164.75,887.00,603.75,952.75,20.75,78.25,83.00,246.00,...,50.5,49.5,110.00,232.50,357.75,360.25,221.25,184.5,37.25,122.50
2022-12-23 22:00:00,205.75,498.25,164.75,887.00,603.75,952.75,20.75,78.25,83.00,246.00,...,50.5,49.5,110.00,232.50,357.75,360.25,221.25,184.5,37.25,122.50
2022-12-23 23:00:00,205.75,498.25,164.75,887.00,603.75,952.75,20.75,78.25,83.00,246.00,...,50.5,49.5,110.00,232.50,357.75,360.25,221.25,184.5,37.25,122.50

In [ ]:
df['BURNSIDE AV_ex'].plot()

In [ ]:
df['GRD CNTRL-42 ST_ex'].plot()

In [ ]:
df.head()

In [ ]:
df['34 ST-PENN STA_ex'].plot()

In [ ]:
cols = [x for x in df.columns]

In [19]:
stations = set(x.split("_")[0] for x in df.columns)
pickle.dump(stations, open("stations.p","wb"))

In [ ]:
import pickle
pickle.dump(cols, open("entries_exits_list.p","wb"))

In [ ]:
df1 = de._extract_mta_data(start_date, weeks=1)

In [ ]:
df1.shape

In [ ]:
df_ent, df_ex = turnstile_data_extractor_test().get_entries_exits(df1)

In [ ]:
df_ent['BURNSIDE AV'].plot()